<h1>登場人物</h1>


<p><a href="/sentyo"> 船長</a></p>
<p><a href="/hukusentyo">副船長</a></p>
<p><a href="/pianist">ピアニスト</a></p>
<p><a href="/cook">料理長</a></p>
<p><a href="/seisouin">清掃員</a></p>
<p><a href="/kurodukume">黒ずくめの人物</a></p>
</br>
<li>もしかしたら船長が脱ぎ忘れたかもしれない、お風呂の脱衣場に行ってみよう</li>
*ここから先は実際にQRコードを読み込んでください
