<style>
div{
    line-height: 0;
}
</style>

<div>
<a href=""><img src="/07_食堂3_01.jpg" alt=""></a><br>
<a href="/syokudo"><img src="07_食堂3_02.jpg" alt=""></a><a href="/bad4"><img src="/07_食堂3_03.jpg" alt=""></a>
</div>