<style>
div{
    line-height: 0;
}
</style>

<div>
<a href=""><img src="/08_ゲーセン_01.jpg" alt=""></a><br>
<a href=""><img src="08_ゲーセン_02.jpg" alt=""></a><a href="/good"><img src="/08_ゲーセン_03.jpg" alt=""></a>
</div>