<style>
div{
    line-height: 0;
}
</style>

<div>
<a href=""><img src="/05_lobby2_3.jpg" alt=""></a><br>
<a href="/lobby3"><img src="/05_lobby2_2.jpg" alt=""></a><br>
<a href="/lobby4"><img src="/05_lobby2_1.jpg" alt=""></a><br>
<a href=""><img src="/05_lobby2_4.jpg" alt=""></a>
</div>