<style>
div{
    line-height: 0;
}
</style>

<div>
<a href=""><img src="/05_lobby3_01.jpg" alt=""></a><br>

<a href="/lobby2"><img src="/05_lobby3_02.jpg" alt=""></a><a href="/bad4"><img src="/05_lobby3_03.jpg" alt=""></a>