

<div>
<a href=""><img src="/07_食堂1_1.jpg" alt=""></a><br>
<a href="/cook2"><img src="/07_食堂1_3.jpg" alt=""></a><br>
<a href="/waiter"><img src="/07_食堂1_4.jpg" alt=""></a><br>
<a href=""><img src="/07_食堂1_2.jpg" alt=""></a><br>
</div>

<style>
div{
    line-height: 0;
}
</style>